In [1]:
import os
import pandas as pd
os.chdir(r'C:\Users\신상훈\Desktop\preprocessing\part-1.-데이터-핸들링\1. 데이터 핸들링\데이터')

In [2]:
df = pd.read_csv('온라인_판매기록.csv',engine = 'python')

In [3]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

In [4]:
df[['수량','판매금액']].mean()

수량           5.502837
판매금액    448851.831470
dtype: float64

In [5]:
df[['수량','판매금액']].quantile(0.1)

수량          2.0
판매금액    79700.0
Name: 0.1, dtype: float64

In [7]:
df[['수량','판매금액']].describe().T

,count,mean,std,min,25%,50%,75%,max
수량,5815.0,5.502837,2.867373,1.0,3.0,6.0,8.0,10.0
판매금액,5815.0,448851.831470,349121.909542,10100.0,152800.0,358400.0,667800.0,1533000.0

In [8]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

In [9]:
pt1 = pd.pivot_table(df, index = '제품',columns = '쇼핑몰 유형',values = '판매금액',aggfunc = 'mean')
pt1

쇼핑몰 유형,동물병원,온라인II,온라인사이트,유통대리점,전시회,쿠팡,할인점,할인점II
제품,,,,,,,,
제품_01,463600.000000,483120.000000,395280.000000,390400.000000,366000.000000,439200.000000,146400.0,366000.0
제품_02,79920.000000,108000.000000,64800.000000,89100.000000,145800.000000,97200.000000,72900.0,NaN
제품_03,229712.500000,247633.333333,228584.615385,166175.000000,263925.000000,209718.181818,140760.0,NaN
제품_04,226843.750000,277550.000000,258711.764706,261537.500000,181475.000000,195708.333333,170800.0,128100.0
제품_05,774720.000000,792327.272727,667120.000000,847350.000000,376600.000000,670917.647059,538000.0,NaN
...,...,...,...,...,...,...,...,...
제품_95,561346.153846,540555.555556,495345.454545,472600.000000,632450.000000,456093.750000,608125.0,389200.0
제품_96,436666.666667,385140.000000,445400.000000,314400.000000,510900.000000,377280.000000,510900.0,NaN
제품_97,466020.000000,582525.000000,443828.571429,383555.555556,373966.666667,431500.000000,345200.0,776700.0
제품_98,578100.000000,492000.000000,524800.000000,492000.000000,664200.000000,605538.461538,885600.0,688800.0
제품_99,88554.545455,120966.666667,114600.000000,87860.000000,66850.000000,76400.000000,85950.0,114600.0

In [11]:
pt2 = pd.pivot_table(df, index = '제품',columns = '쇼핑몰 유형',values = ['판매금액','수량'],aggfunc = 'max')
pt2

          수량                                                  판매금액             \
쇼핑몰 유형  동물병원 온라인II 온라인사이트 유통대리점   전시회    쿠팡   할인점 할인점II       동물병원      온라인II
제품
제품_01   10.0   8.0   10.0  10.0   7.0  10.0   3.0   8.0   732000.0   585600.0
제품_02    9.0  10.0   10.0   8.0   9.0   9.0   5.0   NaN   145800.0   162000.0
제품_03   10.0  10.0   10.0   9.0  10.0   8.0   7.0   NaN   391000.0   391000.0
제품_04   10.0  10.0   10.0  10.0  10.0   9.0   6.0   3.0   427000.0   427000.0
제품_05   10.0  10.0   10.0  10.0   4.0  10.0   5.0   NaN  1076000.0  1076000.0
...      ...   ...    ...   ...   ...   ...   ...   ...        ...        ...
제품_95   10.0  10.0   10.0   8.0   9.0   9.0   9.0   5.0   973000.0   973000.0
제품_96   10.0  10.0   10.0  10.0   8.0  10.0   7.0   NaN   786000.0   786000.0
제품_97    9.0  10.0    6.0  10.0   8.0  10.0   7.0   9.0   776700.0   863000.0
제품_98   10.0  10.0   10.0  10.0  10.0  10.0  10.0   7.0   984000.0   984000.0
제품_99    8.0  10.0   10.0   8.0   6.0   8.0   7.0   6.0   152800.0   191000.0


쇼핑몰 유형     온라인사이트      유통대리점       전시회         쿠팡       할인점     할인점II
제품
제품_01    732000.0   732000.0  512400.0   732000.0  219600.0  585600.0
제품_02    162000.0   129600.0  145800.0   145800.0   81000.0       NaN
제품_03    391000.0   351900.0  391000.0   312800.0  273700.0       NaN
제품_04    427000.0   427000.0  427000.0   384300.0  256200.0  128100.0
제품_05   1076000.0  1076000.0  430400.0  1076000.0  538000.0       NaN
...           ...        ...       ...        ...       ...       ...
제품_95    973000.0   778400.0  875700.0   875700.0  875700.0  486500.0
제품_96    786000.0   786000.0  628800.0   786000.0  550200.0       NaN
제품_97    517800.0   863000.0  690400.0   863000.0  604100.0  776700.0
제품_98    984000.0   984000.0  984000.0   984000.0  984000.0  688800.0
제품_99    191000.0   152800.0  114600.0   152800.0  133700.0  114600.0

[100 rows x 16 columns]

In [12]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

In [13]:
df.groupby('쇼핑몰 유형')['수량'].mean()

쇼핑몰 유형
동물병원      5.512889
온라인II     5.807143
온라인사이트    5.477670
유통대리점     5.493333
전시회       5.556701
쿠팡        5.396389
할인점       5.288525
할인점II     5.469565
Name: 수량, dtype: float64

In [15]:
df.groupby('쇼핑몰 유형', as_index = False)['수량'].mean()

   쇼핑몰 유형        수량
0    동물병원  5.512889
1   온라인II  5.807143
2  온라인사이트  5.477670
3   유통대리점  5.493333
4     전시회  5.556701
5      쿠팡  5.396389
6     할인점  5.288525
7   할인점II  5.469565

In [17]:
df.groupby('쇼핑몰 유형')['수량','판매금액'].agg(['mean','max'])

<ipython-input-17-9908c5a6d8f4>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('쇼핑몰 유형')['수량','판매금액'].agg(['mean','max'])

              수량               판매금액
            mean max           mean      max
쇼핑몰 유형
동물병원    5.512889  10  439390.844444  1515000
온라인II   5.807143  10  475726.428571  1530000
온라인사이트  5.477670  10  454746.019417  1533000
유통대리점   5.493333  10  462627.384615  1530000
전시회     5.556701  10  447135.051546  1486000
쿠팡      5.396389  10  433447.802198  1533000
할인점     5.288525  10  427162.295082  1533000
할인점II   5.469565  10  440754.782609  1515000

In [18]:
def my_func(value):
    return max(value) - min(value)

df.groupby(['쇼핑몰 유형','제품'])['수량','판매금액'].agg(my_func)

<ipython-input-18-54ca1f23d5fe>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['쇼핑몰 유형','제품'])['수량','판매금액'].agg(my_func)

              수량    판매금액
쇼핑몰 유형 제품
동물병원   제품_01   7  512400
       제품_02   8  129600
       제품_03   9  351900
       제품_04   8  341600
       제품_05   8  860800
...           ..     ...
할인점II  제품_93   0       0
       제품_95   2  194600
       제품_97   0       0
       제품_98   0       0
       제품_99   0       0

[762 rows x 2 columns]

In [1]:
L = [1, 4, 3, 5, 2, 5]
L.sort() #출력이 None이고 L 자체가 수정됨

In [2]:
L

[1, 2, 3, 4, 5, 5]

In [3]:
L = [1, 4, 3, 5, 2, 5]
L.sort(reverse = True) # 출력이 None이고 L자체가 수정됨
L

[5, 5, 4, 3, 2, 1]

In [8]:
T = [(1, 2), (3, 1), (4, 5), (10, 4)]
sorted(T, key = lambda x: x[1]) # x에서 1번째 요소를 기준으로 정렬

[(3, 1), (1, 2), (10, 4), (4, 5)]

In [9]:
T

[(1, 2), (3, 1), (4, 5), (10, 4)]

In [10]:
L = [1, 4, 3, 5, 2, 5]
sorted(L, key = lambda x: abs(x-3)) # |x-3|을 기준으로 정렬

[3, 4, 2, 1, 5, 5]

In [11]:
import pandas as pd
import numpy as np
S = pd.Series(np.random.randint(1,10,100))
S.iloc[0:3] = np.nan
S.head()

0    NaN
1    NaN
2    NaN
3    6.0
4    5.0
dtype: float64

In [12]:
S.sort_values()

60    1.0
37    1.0
30    1.0
47    1.0
28    1.0
     ...
89    9.0
98    9.0
0     NaN
1     NaN
2     NaN
Length: 100, dtype: float64

In [15]:
S.sort_values(ascending = False, na_position = 'last')

98    9.0
89    9.0
97    9.0
6     9.0
94    9.0
     ...
37    1.0
60    1.0
0     NaN
1     NaN
2     NaN
Length: 100, dtype: float64

In [17]:
S.value_counts()

6.0    20
4.0    15
2.0    10
1.0    10
7.0    10
5.0    10
3.0     8
9.0     8
8.0     6
dtype: int64

In [18]:
S.value_counts(normalize = True)

6.0    0.206186
4.0    0.154639
2.0    0.103093
1.0    0.103093
7.0    0.103093
5.0    0.103093
3.0    0.082474
9.0    0.082474
8.0    0.061856
dtype: float64

In [19]:
S.value_counts(ascending = True, normalize = True)

8.0    0.061856
9.0    0.082474
3.0    0.082474
5.0    0.103093
7.0    0.103093
1.0    0.103093
2.0    0.103093
4.0    0.154639
6.0    0.206186
dtype: float64

In [20]:
S.unique()

array([nan,  6.,  5.,  7.,  9.,  3.,  8.,  4.,  1.,  2.])

In [21]:
len(S.unique())

10

In [22]:
df = pd.DataFrame({"A":[1,2,3,1,2,3], "B":[3,2,1,3,2,1], "C":[1,2,3,4,3,2]})
df

   A  B  C
0  1  3  1
1  2  2  2
2  3  1  3
3  1  3  4
4  2  2  3
5  3  1  2

In [23]:
df.sort_values(by = 'A', ascending = True) # A를 기준으로 오름차순 정렬

   A  B  C
0  1  3  1
3  1  3  4
1  2  2  2
4  2  2  3
2  3  1  3
5  3  1  2

In [24]:
df.sort_values(['A','C'], ascending = True, na_position = 'last',)

   A  B  C
0  1  3  1
3  1  3  4
1  2  2  2
4  2  2  3
5  3  1  2
2  3  1  3

In [25]:
df.drop_duplicates(subset = 'A')

   A  B  C
0  1  3  1
1  2  2  2
2  3  1  3

In [27]:
df.drop_duplicates(subset = 'A', keep = 'last')

   A  B  C
3  1  3  4
4  2  2  3
5  3  1  2

In [28]:
df.drop_duplicates(subset = ['A'], keep = False)

Empty DataFrame
Columns: [A, B, C]
Index: []