## concat
- 둘 이상의 데이터 프레임을 이어 붙이는데 사용하는 함수
- merge와 달리 list형으로 데이터 프레임들을 받아 한번에 여러개 데이터 프레임을 붙일 수 있다.
 - objs: DataFrame을 요소로 하는 리스트( 입력 예시:[df1,df2])로 입력 순서대로 병합이 됨
 - ignore_index: True면 기존 인덱스를 무시하고 새로운 인덱스를 부여하여, False면 기존 인덱스를 사용

- os.listdir(path): path 상에 있는 모든 파일명을 리스트 형태로 반환

In [1]:
import os
import pandas as pd
os.chdir(r'C:\Users\신상훈\Desktop\preprocessing\part-1.-데이터-핸들링\1. 데이터 핸들링\데이터')

In [2]:
df1 = pd.DataFrame({"A":[1,2,3,4], "B":[1,2,3,4]})
df2 = pd.DataFrame({"A":[5,6,7,8], "B":[5,6,7,8]})

merged_df = pd.concat([df1, df2], axis = 0, ignore_index = True)
merged_df

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6
6  7  7
7  8  8

In [3]:
df1 = pd.DataFrame({"A":[1,2,3,4], "B":[5,6,7,8]})
df2 = pd.DataFrame({"C":[1,2,3,4], "D":[5,6,7,8]})

merged_df = pd.concat([df1, df2], axis = 1, ignore_index = False)
merged_df

   A  B  C  D
0  1  5  1  5
1  2  6  2  6
2  3  7  3  7
3  4  8  4  8