In [21]:
major_word_list = major_word_list.iloc[:-1]
major_word_list

코스피     815
증시      745
상승      390
하락      350
코스닥     252
美       224
우려      215
마켓뷰     205
오전시황    190
환율      184
dtype: int64

In [22]:
df.head()

                                  기사제목     신문사        작성일자   월
0                     휴장일 슬쩍올빼미 공시 주의보    서울경제  2018-01-01  01
1                      코스피 상단 28003100    서울경제  2018-01-01  01
2                         한숨 동부대우전자 중동    서울경제  2018-01-01  01
3  금융투자업계 지도 생존 성장 운용자문사 대주주교체 카드 꺼내든다  파이낸셜뉴스  2018-01-01  01
4       금융투자업계 지도 모험자본 확충 원년 초대형 질주 계속  파이낸셜뉴스  2018-01-01  01

In [23]:
major_word_list.index

Index(['코스피', '증시', '상승', '하락', '코스닥', '美', '우려', '마켓뷰', '오전시황', '환율'], dtype='object')

In [24]:
new_cols = []
for col in major_word_list.index:
    df[col + '_등장횟수'] = df['기사제목'].str.contains(col)
    new_cols.append(col+'_등장횟수')
    
df.head()

,기사제목,신문사,작성일자,월,코스피_등장횟수,증시_등장횟수,상승_등장횟수,하락_등장횟수,코스닥_등장횟수,美_등장횟수,우려_등장횟수,마켓뷰_등장횟수,오전시황_등장횟수,환율_등장횟수
0,휴장일 슬쩍올빼미 공시 주의보,서울경제,2018-01-01,01,False,False,False,False,False,False,False,False,False,False
1,코스피 상단 28003100,서울경제,2018-01-01,01,True,False,False,False,False,False,False,False,False,False
2,한숨 동부대우전자 중동,서울경제,2018-01-01,01,False,False,False,False,False,False,False,False,False,False
3,금융투자업계 지도 생존 성장 운용자문사 대주주교체 카드 꺼내든다,파이낸셜뉴스,2018-01-01,01,False,False,False,False,False,False,False,False,False,False
4,금융투자업계 지도 모험자본 확충 원년 초대형 질주 계속,파이낸셜뉴스,2018-01-01,01,False,False,False,False,False,False,False,False,False,False

In [25]:
grouped_df = df.groupby('월', as_index = False)[new_cols].sum()
grouped_df

,월,코스피_등장횟수,증시_등장횟수,상승_등장횟수,하락_등장횟수,코스닥_등장횟수,美_등장횟수,우려_등장횟수,마켓뷰_등장횟수,오전시황_등장횟수,환율_등장횟수
0,01,112.0,81.0,67.0,43.0,154.0,29.0,6.0,20.0,19.0,34.0
1,02,100.0,136.0,74.0,38.0,50.0,72.0,16.0,18.0,14.0,22.0
2,03,138.0,104.0,48.0,43.0,38.0,90.0,54.0,23.0,20.0,16.0
3,04,152.0,106.0,68.0,55.0,48.0,61.0,25.0,13.0,22.0,30.0
4,05,106.0,113.0,62.0,67.0,38.0,35.0,22.0,12.0,13.0,19.0
5,06,80.0,154.0,54.0,54.0,19.0,40.0,23.0,17.0,5.0,25.0
6,07,90.0,126.0,52.0,49.0,54.0,42.0,24.0,20.0,16.0,30.0
7,08,96.0,113.0,47.0,35.0,24.0,51.0,15.0,22.0,22.0,24.0
8,09,65.0,97.0,35.0,37.0,30.0,59.0,25.0,16.0,13.0,13.0
9,10,119.0,172.0,45.0,56.0,30.0,59.0,19.0,12.0,15.0,31.0
10,11,100.0,107.0,45.0,44.0,31.0,70.0,12.0,22.0,15.0,17.0
11,12,70.0,116.0,33.0,32.0,14.0,72.0,30.0,19.0,17.0,15.0