In [1]:
import os
import pandas as pd
os.chdir(r'C:\Users\신상훈\Desktop\preprocessing\part-4.-머신러닝을-위한-필수-전처리\Part 4. 머신러닝을 위한 필수 전처리\데이터')

In [2]:
# 데이터 불러오기
demo_df = pd.read_csv("고객별_인구통계정보.csv", engine = "python")
purchasing_df = pd.read_csv("고객별_구매금액.csv", engine = 'python')

In [3]:
demo_df.head()

  고객ID  나이 성별     주소
0  고객1  48  남   A아파트
1  고객2  40  남   B아파트
2  고객3  37  여   C아파트
3  고객4  35  여  A연립주택
4  고객5  42  남  B연립주택

In [4]:
purchasing_df.head()

   고객ID   구매금액
0  고객10  45990
1   고객2  29800
2   고객7  31400
3   고객5  35300
4   고객2  41200

In [5]:
# 데이터 요약
purchasing_aggregated_df = purchasing_df.groupby('고객ID')['구매금액'].sum()
purchasing_aggregated_df.rename('구매금액합계') # 대상 변수의 이름이 그대로 시리즈의 이름이 되어, 적절한 변수명으로 수정해줘야 함

고객ID
고객1     2494480
고객10    2644200
고객2     2573880
고객3     2998590
고객4     2875420
고객5     2628430
고객6     2419410
고객7     2709620
고객8     2914460
고객9     2283150
Name: 구매금액합계, dtype: int64

In [6]:
# 데이터 병합 수행
merged_df = pd.merge(demo_df, purchasing_aggregated_df, left_on = '고객ID', right_index = True)

In [7]:
# 하나의 변수를 추가하는 경우에 주로 사용하는 테크닉
demo_df['구매금액합계'] = demo_df['고객ID'].replace(purchasing_aggregated_df.to_dict())

In [8]:
demo_df

   고객ID  나이 성별     주소   구매금액합계
0   고객1  48  남   A아파트  2494480
1   고객2  40  남   B아파트  2573880
2   고객3  37  여   C아파트  2998590
3   고객4  35  여  A연립주택  2875420
4   고객5  42  남  B연립주택  2628430
5   고객6  44  남  C연립주택  2419410
6   고객7  47  남  A단독주택  2709620
7   고객8  38  여  B단독주택  2914460
8   고객9  33  여   D아파트  2283150
9  고객10  30  남   E아파트  2644200